<div class="jumbotron">
  <h1 class="display-4">Bienvenue</h1>
  <p class="lead">Bienvenue sur notre site de démonstration.</p>
  <hr class="my-4">
  <p>coucou Découvrez les fonctionnalités de Symfony et apprenez à les utiliser efficacement pour créer des applications web de qualité.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>
